.postLayout{
    background-color: #fefefe;
    display: flex;
    // height: 100;
    min-height: 100vh;
    flex-wrap: wrap;

    .viewContent{
        min-height: 100%;
        flex-direction: column;
        background-color: #fefefe;
        width: 100vw;
    }

}
