.viewLayou{
    background-color: #fefefe;
    height: 100vh;

    .viewContent{
        min-height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #fefefe;
        width: 100vw;
    }

    .footer{

        margin-top: auto;
    }
}
