*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbarPosts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // height: 80px;
    // width: 100%;
    // background-color: #fefefe;
    // font-size: 14px;
    // color: rgb(18, 18, 18);
    // position: fixed;
    // top: 0;
    // left: 0;
    border-bottom: 1px solid rgb(242,242,242);

    .navbar-logo{
        justify-self: start;
        margin-left: 20px;
        cursor: pointer;
    }
    
}
