.discoverContainer{
    border-bottom: 1px solid rgb(242,242,242);
    margin-bottom: 25px;
    position:sticky;
    top: 85px;
}

.DiscoverTitle{
    margin-top: 30px;
    padding-bottom: 15px;
    font-weight: 600;
}

// .discoverButtonsContainer{
//     display: flex;
//     flex-direction: row;
// }

.discoverButtons{
    width: max-content;
    padding: 10px;
    height: 30px;

    background-color: rgb(242,242,242);
    color: black;
    border: 0px;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

.moreTopicsDiscover{
    font-size: 14px;
    color: rgb(80,144,60);
    padding: 30px 0px;
}

.footerContainer{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.footer{
    color:grey;
    font-size: 14px;
    list-style: none;
    float: left;
    padding: 16px;
    text-decoration: none;
    text-align: center;
}

