
.DiscoverTitle{
    margin-top: 30px;
    padding-bottom: 15px;
    font-weight: 600;
}

.discoverButtons{
    width: max-content;
    padding: 10px;
    height: 30px;

    background-color: rgb(242,242,242);
    color: black;
    border: 0px;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

.moreTopicsDiscover{
    font-size: 14px;
    color: rgb(80,144,60);
    padding: 10px 0px;
    margin-bottom: 5px;
}

.footerMain{
    border-top: 1px solid rgb(242,242,242);
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}