.NavbarItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: rgb(246,187,13);
    font-size: 14px;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
}

.NavbarItems.active{
    background-color: #fefefe;
}

.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.menu-list{
    display: flex;
    list-style: none;
    overflow: hidden;
    align-items: center;
}

li{
    list-style: none;
    float: left;
}
.nav-links{    
    margin-right: 2rem;
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.navButton { 
    margin-right: 15px;
    width:max-content;
    padding: 10px;
    height: 35px;
    border-radius: 17px;
    background-color: black;
    color: white;
    font-size: 14px;
    border:none;
    outline:none;
    cursor: pointer;
}

.navButton.active{
    background-color: rgb(80,144,60);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

