.TendingPosts__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.TrendingContainer{
    display: flex;
    height: auto;
    width: 300px;
    margin: 15px;
    cursor: pointer;
}

.textTrendingContainer{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

.indexTendringPost{
    flex-direction: row;
    margin-top: 0px;
    color:rgb(242,242,242) ;
    font-size: 30px;
    margin-right: 10px;
}

.postInfocontianerTP{
    flex-direction: row;
    margin: 2px;
    padding: 0px;
    // justify-content: flex-start;
}

.GreyLetters{
    margin: 0px;
    padding: 0px;
}

.DateTP{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.AuthorTP{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight:700;
}

.TitleTP{
    margin: 0px;
    padding: 2px;
    font-size: 16px;
    font-weight:700;
}