
.footer{
    border-top: 1px solid rgb(242,242,242) ;
    background-color: #fefefe;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;

    .footer-list{

        li{
            padding: 5px;
            
            a{
                font-size: 12px;
                color: grey;
            }
        }
    }
}
