.postContainer{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 150px;
    margin: 15px;
    padding: 5px;
    margin-top: 25px;
}

.textContianer{
    // display: flex;
    // flex-direction: column;
    border: 1px solid black;
    background-color: black;
    cursor: pointer;
}
.picture{
    height: 150px;
    width: 190px;
    object-fit: cover;
    margin-left: 10px;
    align-items: end;
    cursor: pointer;
}

.GreyLetters{
    display: flex;
    flex-direction: row;
}

.Date{
    color:grey;
    font-size: 12px;
}

.ReadTime{
    color: grey;
    font-size: 12px;
}

.readTime{
    color: grey;
    font-size: 12px;
}

.Author{
    font-size: 13px;
    font-weight: 500;
}

p{
    font-size: 16px;
}