.postContianer{
    width: 250px;
    height: 180px;
    border: 1px solid black;
    background-color: black;
}
.Date{
    color:grey;
    font-size: medium;
}

.Author{
    font-weight: 500;
    font-size: medium;
}
